.table-popup th {
    color: #000;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}

table.table thead th {
    font-weight: bold;
}
/* menu */
.list-group.my-group {
    width: 100px;
}

.my-hover:hover {
    background-color: rgb(185, 187, 187);
    border-radius: 10px 0px;
    color: aliceblue;
}

#kawasan a:link {
    color: #333;
}
#kawasan a:visited {
    color: #333;
}

#kawasan a:active {
    color: #333;
}

#kawasan a:hover {
    color: aliceblue;
}
